extends ../layouts/main-layout.pug

block content
  h1(class="text-2xl font-bold kenpo-font mb-4 text-green-700") Almost There!
  p(class="mb-4") We've sent a verification email to your inbox.
  p(class="mb-6") Click the link in the email to verify your account.
  a(href="/auth/login" class="text-red-700 hover:underline") Back to login
