extends ../layouts/main-layout.pug

block content
  h1(class="text-3xl font-bold kenpo-font text-green-700 mb-4") Email Verified!

  p(class="text-lg mb-6") Your email has been successfully verified. You can now access the training portal.

  a(href="/auth/login" class="inline-block bg-red-800 hover:bg-red-700 text-white font-bold py-2 px-4 rounded shadow transition") Go to Login
