header(class="bg-red-800 text-white shadow-md p-4")
  nav(class="max-w-6xl mx-auto flex justify-center space-x-12 text-lg uppercase tracking-widest font-semibold kenpo-font")
    a(href="/login" class="hover:text-green-700 transition duration-300") Login
    a(href="/faqs" class="hover:text-green-700 transition duration-300") FAQs
    a(href="/history" class="hover:text-green-700 transition duration-300") History