extends ../layouts/main-layout.pug

block content
    - var formAction = '/profiles/edit-profile';
    - var submitLabel = 'Update Profile';
    - var formMode = 'edit';

    h1(class="text-3xl font-bold kenpo-font mb-6 text-center") Edit Your Profile

    if errorMessage
        p(class="bg-red-100 text-red-700 px-4 py-2 mb-4 rounded-lg shadow") #{errorMessage}

    include ../components/profile-form.pug
