extends layouts/main-layout.pug

block content 
    img(src="/images/AMTSPatch.jpg" alt="Kenpo Kicks Logo" class="mx-auto w-full max-w-lg")
    h2.text-2xl.font-bold.text-red-700 404 - Page Not Found
    p.mb-6 Sorry, the page you’re looking for doesn’t exist.

    a(
        href="/"
        class="inline-block mt-4 px-4 py-2 bg-red-800 text-white rounded hover:bg-green-700 transition duration-300"
    ) Take me back to the homepage