doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title AMTS - KenpoKicks
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap")
    style.
      body { font-family: 'Cinzel', serif; }

  body(class="bg-white text-gray-900 min-h-screen flex flex-col")
    include partials/header.pug

    main(class="bg-white max-w-xl mx-auto px-6 py-10 mt-12 shadow-xl rounded-2xl text-center")
      block content

    include partials/footer.pug
