extends ../layouts/admin-layout.pug

block content
  .bg-white.shadow-lg.rounded-xl.p-6
    h1.text-2xl.font-bold.text-red-800.mb-6 All Techniques

    if techniques.length
      ul.divide-y.divide-gray-200
        each technique in techniques
          li.py-3
            a(href=`/techniques/${technique.techId}/edit`, class="text-blue-600 hover:underline") #{technique.techTitle}
    else
      p.text-gray-500 No techniques found.
